---
- name: Install vm_share_helper
  block:
    - name: Include OS-specific variables
      ansible.builtin.include_vars: "{{ var_file }}"
      with_first_found:
        - "{{ role_path }}/vars/{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
        - "{{ role_path }}/vars/{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
        - "{{ role_path }}/vars/{{ ansible_distribution }}.yml"
        - "{{ role_path }}/vars/{{ ansible_os_family }}.yml"
        - "{{ role_path }}/vars/{{ ansible_lsb.id }}.yml"
      loop_control:
        loop_var: var_file

    - name: Install OS-specific dependencies
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - "{{ role_path }}/tasks/noauto_install_dep_{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
        - "{{ role_path }}/tasks/noauto_install_dep_{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
        - "{{ role_path }}/tasks/noauto_install_dep_{{ ansible_distribution }}.yml"
        - "{{ role_path }}/tasks/noauto_install_dep_{{ ansible_os_family }}.yml"
        - "{{ role_path }}/tasks/noauto_install_dep_{{ ansible_lsb.id }}.yml"
      loop_control:
        loop_var: task_file

    - name: Ensure mount folder exists
      when: vm_share_helper_sync_folders | length > 0
      ansible.builtin.file:
        path: "{{ sync_item.host }}"
        state: directory
        mode: "0700"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
      with_items: "{{ vm_share_helper_sync_folders }}"
      loop_control:
        loop_var: sync_item
      become: true

    - name: Ensure shared folder exists
      when: vm_share_helper_sync_folders | length > 0
      ansible.builtin.file:
        path: "{{ sync_item.vm }}"
        state: directory
        mode: "0700"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
      with_items: "{{ vm_share_helper_sync_folders }}"
      loop_control:
        loop_var: sync_item
      become: true

    - name: Add shared folder to /etc/fstab for automount
      when: vm_share_helper_automount and vm_share_helper_sync_folders | length > 0
      ansible.posix.mount:
        path: "{{ sync_item.host }}"
        src: "{{ sync_item.vbox_share_name }}"
        fstype: "vboxsf"
        opts: "{{ vm_share_helper_fstab_options }}"
        state: mounted
      with_items: "{{ vm_share_helper_sync_folders }}"
      loop_control:
        loop_var: sync_item
      become: true
