[Unit]
Description=Search for .burp files and zip them
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment="HOME={{ ansible_env.HOME }}"
ExecStart={{ vm_share_helper_burp_zip_helper.script_path }}
